PORT=5000
MONGODB_URI=mongodb://nguyenkhaduong17_db_user:khaduong1711@ac-tuxeqqi-shard-00-00.m6wwqe3.mongodb.net:27017,ac-tuxeqqi-shard-00-01.m6wwqe3.mongodb.net:27017,ac-tuxeqqi-shard-00-02.m6wwqe3.mongodb.net:27017/spotify_clone?tls=true&authSource=admin&replicaSet=atlas-p80ns4-shard-0&retryWrites=true&w=majority
JWT_SECRET=spotify_clone_secret_key
BASE_URL=http://localhost:5000